<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<table border="0">
    <tr>
        <td><img src='https://www.healthwise.org/App_Themes/dotOrg/images/hw_logo.svg' width="50%" /></td>
        <td><b>Azure Search - Knowledge Mining Solution</b></td>
    </tr>
</table>

<div class="container-fluid">
    <div class="row" style="height: 1000px;">
        <div >
            <nav class="navbar flex-column navbar-expand-lg navbar-light bg-light h-100">
                <div class="row w-100">
                    <div class="container pt-4 w-100">
                        <form action="#" method="post" role="form">
                            <div class="form-row">
                                <div class="form-group">
                                    <!--p>Enter your diagnosis or medication name:</p-->
                                    <input type="text-area" class="container-fluid overflow-auto w-100" placeholder="Type here" name="nm" />
                                    <br>
                                    <input type="submit" value="Search"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--div class="row">
                        <p class="text-left">
                            <a class="nav-link" href="#" align="left">Authors</a>
                            <a class="nav-link" href="#">Disease & Disorders</a>
                            <a class="nav-link" href="#">Medical Mentions</a>
                            <a class="nav-link" href="#">Signs & Symptoms</a>
                        </p>
                    </div-->

                </div>
            </nav>
        </div>
        <div class="col-8">
            <div>
                <div class="col">
                    {% for i in range(tlen) %}
                    <div class="container-fluid overflow-auto mt-4 mb-4 border rounded-lg">
                        <div class="text-capitalize font-weight-normal" style="height: 200px;">
                            <a href={{urls[i]}} class="underline mb-4 font-weight-bold">{{titles[i]}}</a>
                            <p> </p>
                            <p>{{abstracts[i]}}</p>
                            <p> </p>
                            <p>ICD-10 Codes: {{icds[i][1]}} ({{icds[i][0]}})</p>
                            <p>RxNorm Codes: {{rxs[i]}}</p>
                            <p>Date: {{dates[i]}} </p>
                            <p>Authors: {{authors[i]}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>